body {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: 'Titillium Web';
    font-size: 20px;
    overflow-x: hidden;   
}

#container{
    background-color: #343a3b;
    position: absolute;  
    width: 100%;    
    height: 100%;       
    display: block;    
    text-align: center;       
}

/* menu */
#nav-button{
    font-size: 50px !important;
    position: fixed;
    left: 35px;
    z-index: 100;
}

@media (max-width: 1200px){
    #nav-button{
        left: 15px;
        top: -15px;
    }

}

.ion-android-menu{
    color: #aeb1af;
    transition: color 0.5s ease;
}

.ion-android-menu:hover{
    color:black;
    transition: color 0.5s ease;
}

#nav-lines{
    transform: scaleX(1.5);
}

.hide{
    display: none;
}

#main-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #535d59;
    padding-top: 10%;
    padding-bottom: 10%;
    z-index: 50;
}

#center-menu{
    height: 100%;
    width: 50%;
    margin: 0 auto;
}

.menu-button{
    height: 33%;
    width: 100%;
    border-bottom: 2px solid #6a716b;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    min-height: 5vh;
}

.menu-button:last-child {
    border-bottom: none;
}

.menu-link{
    color: #8f9390;
    font-size: 5vh;
}

.menu-link:hover{
    color: #aeb1af;
    text-decoration: none;
}

.menu-link:focus{
    transition: color 0.5s ease;
    color: rgb(225, 237, 230);
    transform: scaleX(1.2);
    text-decoration: none;   
}

/*o-mnie*/
#about{
    background-color: #343a3b;
    color:#8f9390;
    min-height: 100%;
    width: 100%;
}

#center-about{
    height: 100%;
    width: 60%;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 10%;
    padding-bottom: 10%;
}

@media (max-width: 1200px){
    #center-about{
        height: 100%;
        width: 95%;
        max-width: 700px;
        padding-top: 80px;
     }
     .grading{
        font-size: 12px;
    }
}

.profile-pic{
    border-radius: 50%;
}

.grading{
    color:gold;
    display: block; 
    align-content: center;
    width: 150px; 
}

/* projekty */

#projects{
    background-color: #343a3b;
    color:#8f9390;
    min-height: 100%;
    width: 100%;
}

#projects-header{
    text-align: left;
    border-bottom: 2px solid #6a716b;
    height: 3.5rem;
    margin-bottom: 50px;
    width: 100%;
}

.tech-icon {
    height: 45px;
    width: 35px;
    margin-bottom: 5px;
}

#center-projects{
    height: 100%;
    width: 85%;
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 10%;
    padding-bottom: 10%;
}

.project-miniature{
    width: 100%;
    box-shadow:10px 10px #252829; 
    border: 2px solid black;
    margin-bottom: 30px;
}

.project-miniature:hover{
    opacity: 0.7;
    transition: opacity 0.5s ease;
}

.overlay{
    z-index: 20;   
}

.overlay-content{
    padding-bottom: 150px;
}

.center-project{
    height: 100%;
    width: 60%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: -120px;
}


.skitter-large-box{
    margin: 0 auto;
}

@media (max-width: 1200px){
 
    #projects-header{
        margin-top: 30px;
    }
     .label_skitter {
        font-size: 10px;
    }
     .center-project{
        margin-top: -100px;
        width: 95%;
    }
    .tech-icon{
        height: 40px;
        width: 30px;
    }
    .skitter .info_slide_dots .image_number {
        width: 8px;
        height: 8px;
    }

    .skitter .info_slide_dots {
        bottom: -25px;
    }

    .skitter .prev_button {
        display: none;
    }
    
    .skitter .next_button {
        display: none !important;
    }
    .skitter .prev_button {
        display: none !important;
    }
    .skitter-large {
        width: 90%!important;
        min-width: 90% !important;
        margin: 0 auto;
    }

}

.container_skitter{
    width: 100%!important;
    height: 100%!important;
}
.image_main{
    width: 100%!important;
    height: 100%!important;
}
.box_skitter_large {
    max-width: 408px !important;
    max-height: 275px !important;
}
.box_clone{ 
    width: 100%!important;
    height: 100%!important;
}
.cube{
    width:100% !important;
}
.label_skitter {
    background: #000 !important;
 }
.skitter-large {
    width: 75%!important;
    min-width: 75%;
    margin: 0 auto;
}

.skitter .prev_button {
    left: -50px;
}

.skitter .next_button {
    right: -50px;
}

.carousel {
    margin: 0 auto;
    width:800px;
    height: 300px;
    display: relative;
  }
.carousel div {
display: hidden; /* hide images until carousel prepares them */
cursor: pointer; /* not needed if you wrap carousel items in links */
}

/* kontakt */

#contact{
    background-color: #343a3b;
    color:#8f9390;
    min-height: 100%;
    width: 100%;
}

#center-contact{
    height: 100%;
    width: 60%;
    max-width: 700px;
    margin: 0 auto;
    padding-top: 10%;
    padding-bottom: 10%;
}

.form-control {
    background-color: #272727;
}


.btn-info {
    color: #8f9390;
    background-color: #272727;
    border-color: #343a3b;
}

.btn-info:hover {
    color: #8f9390;
    background-color: #464a4c;
    border-color:  #464a4c;
}

.btn-info.active, .btn-info:active, .show > .btn-info.dropdown-toggle {
    color: #8f9390;
    background-color: #aeb1af;
    border-color: #aeb1af;
}

.btn-info:focus {
    color: #8f9390;
    background-color: #464a4c;
    border-color:  #464a4c;
}

.form-control:focus {
    color:#8f9390;
    background-color: #464a4c;
    border-color: #464a4c;
    outline: 0;
}