<div id="center-contact">
    {* <div class="col-lg-5 col-md-8 col-xs-12 "> *}
            <h2>Kontakt</h2></br>

            <form action="?fragment=kontakt&action=send-mail" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Imię" required>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" name="email" placeholder="E-mail" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="Telefon" required>
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="content" rows="5" name="content" placeholder="Wiadomość" required></textarea>
                </div></br>
                
                <button type="submit" name="submit" value="submit" class="btn btn-info">Wyślij</button>
            </form>
        {* </div> *}
</div>